<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <style>
        #aaaa{
            display: flex;
        }
    </style>
</head>
<body>
<div layout:fragment="content1">
<div class="card">
    <div class="card-header"><h2 class="p-3"> list des patients</h2></div>
    <div class="card-body">
        <form method="get" th:action="@{index}">
            <label>keyword</label>
            <input type="text" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn btn-info">chercher</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <td>ID</td><td>Nom</td><td>Date</td><td>Malade</td><td>SCore</td>
            </tr>
            <tr th:each="p:${Listpatient}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.nom}"></td>
                <td th:text="${p.dateNaissance}"></td>
                <td th:text="${p.malade}"></td>
                <td th:text="${p.score}"></td>
                <td >
                    <a onclick="return confirm('etes vous sure ?')" th:href="@{delete(id=${p.id},keyword=${keyword},page=${currentpage})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </thead>
        </table>
        <ul th:each="page,status:${pages}" class="nav nav-pills">
            <li id="aaaa"><a
            th:text="${status.index+1}"
            th:href="@{/index(page=${status.index},keyword=${keyword})}"
            th:class="${currentpage==status.index?'btn btn-info':'btn btn-outline-info'}"

            ></a></li>
        </ul>
    </div>
</div>
</div>


</body>
</html>